[submodule "public/bulmaswatch"]
	path = public/bulmaswatch
	url = https://github.com/jenil/bulmaswatch.git
[submodule "cms"]
	path = cms
	url = https://github.com/directus/directus.git
[submodule "public/cms"]
	path = public/cms
	url = https://github.com/directus/directus.git
