.dda-homepage-hero{
    background-image:url('../images/truck3.png');
    background-size:cover;
    align-items: stretch;

}
.navbar-item img{
    max-height:3.0rem;
}
.navbar-item{
    padding: 0 0 0 12px;
}

.top-icon{
    font-size: 60px !important;
    margin-bottom: 10px !important;
}

::-webkit-input-placeholder{
    color: black;
}

.text{
    font-family: 'Gupter', serif;
}

.big-boy{
    font-family:'Oswald', sans-serif;

}
.carousel_1{
    max-width:1250px;
}
.fs-carousel-wrapper{
    max-height:700px;
}
.carousel_1 .fs-carousel-item {
    margin:0px 5px 0px 5px;
}
.carousel_1 img{
    max-height:700px;
}
.carousel_1 .fs-carousel-item_previous, .carousel_1 .fs-carousel-item_next{
    opacity:0.3
}
.fs-carousel-viewport{
    background-color:#000;
}

.video-shit {
    min-height: 500px;
    min-width:100%;
}

.step-text{
    margin-top:10px;
}

a:hover {
    color:maroon;
}

.contact-text{
    color:maroon;
}

.space{
    margin-bottom: 5px;
}

.big-boy2{
    font-family:'Oswald', sans-serif;
    color: darkorange;

}